*{
    box-sizing: border-box; 
}
html{
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th{
    padding: 10px;
    text-align: center;
}
td{
    text-align: center;
    padding: 10px;
}
input{
    width: 200px;
    height: 35px;
}
.principal{
    background-color: black;
    color: #FAFAFA;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}

.sub-titulo{
    font-size: 2rem;
    margin: 30px 50px;
}

.linea{
    border: 1px black solid;
    margin: 0px 50px 20px 50px
}
#form-adicionar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    margin: 40px;
}
.grupo{
    margin: 5px;
}

.adicionar{
    margin: 40px;
}

#filtrar-tabla{
    margin: 30px 50px;
}
.tabla{
    left: 0;
    right: 0;
    margin: auto;
    border: 3px black solid;
    font-size: 1.3rem;
    text-align: center;
}

.head{
    background-color: grey;
    border: 3px black solid;
}

.animacion-eliminar{
    opacity: 0;
    transition: 0.5s;
}

.invisible,
.no{
    display: none;
}